@page "/"

<div class="row row-cols-3 g-4">
    <div class="col">
        <Panel Heading="Counter" HeadingClass="text-white bg-info">
            <Counter />
        </Panel>        
    </div>
    <div class="col">
        <Panel Heading="How do you like Blazor?">
            <p>We want your feedback!</p>
            <SurveyPrompt />
        </Panel>
    </div>
    <div class="col-12">
        <ImportantPanel Heading="Weather">
            <FetchData />
        </ImportantPanel>
    </div>
</div>
